<div class="card-container">
  <article class="card">
    <img src="../assets/images/Get Paid Instantly.png" alt="" />
    <div class="category quick-loan">
      <h3>Quick Cash Disbursement</h3>
      <p>Get terms loans that your business needs within 72 hrs</p>
    </div>
  </article>
  <article class="card">
    <img src="../assets/images/freelancer_feature_icon_6@1.5x.png" alt="" />
    <div class="category business-finances">
      <h3>Ace your business finances</h3>
      <p>Manage banking, accounting & everything in between, on one platform</p>
    </div>
  </article>
  <article class="card">
    <img src="../assets/images/Low interest rate.png" alt="" />
    <div class="category low-interest">
      <h3>Low-interest rate</h3>
      <p>
        Achieve your financial goals with an amazing interest rate starting at
        13% per annum
      </p>
    </div>
  </article>
  <article class="card">
    <img class="star-img-lg" src="../assets/images/Path.svg" />
    <img class="star-img-sm" src="../assets/images/Path-1.svg" />
    <img class="card-covid-img" src="../assets/images/Covid.png" alt="" />
    <div class="category loan-covid">
      <h3>Loans to fight COVID-19</h3>
      <p>
        Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
      </p>
    </div>
  </article>
  <article class="card">
    <img src="../assets/images/Secure Payments.png" alt="" />
    <div class="category secure-payment">
      <h3>Zero Paperwork</h3>
      <p>
        Get started instantly by submitting only your basic details & bank
        statements
      </p>
    </div>
  </article>
  <article>
    <h1 class="heading-format">
      Boost your business <span class="align-block"> Open </span>
    </h1>
    <img src="../assets/images/Line 3.svg" alt="" />
    <p class="open-font open-font-color">
      Get your hands on a term loan that’s
      <span class="align-block"> crafted for your business</span>
    </p>
    <a href="javascript:void(0)" class="btn btn-light pt-7 btn-open-acc">
      Get an Open Account
    </a>
  </article>
</div>
